# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# swp files
*.R.swp
*.py.swp
*.sh.swp

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

##########################################################
## iav-subtype-id/picking-guides-from-independent-runs/ ##
/iav-subtype-id/picking-guides-from-independent-runs/data/iav-seqs/
/iav-subtype-id/picking-guides-from-independent-runs/tmp/
##########################################################

##################################
## iav-subtype-id/diff-id-runs/ ##
/iav-subtype-id/diff-id-runs/trial-guide-designs/out/
/iav-subtype-id/diff-id-runs/verify/N-subtype-id/data/iav-seqs/
/iav-subtype-id/diff-id-runs/verify/N-subtype-id/tmp/
/iav-subtype-id/diff-id-runs/verify/H-subtype-id/data/iav-seqs/
/iav-subtype-id/diff-id-runs/verify/H-subtype-id/tmp/
###################################

###########################################
## /pan-viral-id/design/input-sequences/ ##
/pan-viral-id/design/input-sequences/**/fasta-files
/pan-viral-id/design/input-sequences/**/fasta-files.*.tar.gz
###########################################

#######################
## /design-analyses/ ##
/design-analyses/dispersion/tax-*/designs/*
/design-analyses/change-over-time/tax-*/designs/*
/design-analyses/cross-validation/tax-*/designs/*
/design-analyses/compare-to-baseline/tax-*/designs/*
/design-analyses/compare-to-baseline/tax-*/input-alns/*
#######################

########################
## /dgd-benchmarking/ ##
/dgd-benchmarking/specificity-lookup/data/fastas/*
########################

####################
## /misc-designs/ ##
####################
/misc-designs/ncov/**/out/designs/*
!/misc-designs/ncov/**/out/designs/*.tsv
####################
